* {
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    color:green;
}

h1 {
    color:blueviolet;
    font-family: 'Courier New', Courier, monospace;
    
}

img {
    height: 500px;
}

/* .negrito {
    font-weight: bold;
} */

#cont {
    color: red;
    font-weight: bold;
}

p ~ li a {
    color:red;
}

img[src] {
        border: 2px solid blueviolet;
}
